<!doctype html>
<!--suppress Annotator, RequiredAttributes -->
uiredAttributes -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" title="style" />
	<title>Fragments</title>
</head>
<body>

	<!-- DEFAULT HEADER -->
	<header th:fragment="default-header" class="p-0">
		<!-- NAV BAR -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2 py-3">
			<div class="container-fluid">
				<img th:id="logo" class="me-3" th:src="@{/img/logo.png}">
				<div class="collapse navbar-collapse" th:id="collapseMenu">
					<ul class="navbar-nav mb-2 mb-md-0 fs-5">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link">Pedidos</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/productos}" class="nav-link">Productos</a>
						</li>
					</ul>
					<ul class="ms-auto navbar-nav">
						<!-- PROFILE -->
						<li class="nav-item">
							<a th:href="@{/perfil}"><i th:id="btn-profile" class="bi bi-person-circle me-3 text-light"></i></a>
						</li>
						<!-- LOGOUT -->
						<li class="nav-item d-flex align-items-center">
							<form th:action="@{/logout}" method="post">
								<button th:id="btn-logout" type="submit" class="btn btn-outline-light text-light">Cerrar sesión</button>
							</form>
						</li>
					</ul>
				</div>
				<!-- COLLAPSE BUTTON -->
				<button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>

	<!-- ADMIN HEADER -->
	<header th:fragment="admin-header" class="p-0">
		<!-- NAV BAR -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark p-2 py-3">
			<div class="container-fluid">
				<img th:id="logo" class="me-3" th:src="@{/img/logo.png}">
				<div class="collapse navbar-collapse" th:id="collapseMenu">
					<ul class="navbar-nav mb-2 mb-md-0 fs-5">
						<li class="nav-item">
							<a th:href="@{/}" class="nav-link">Hoy</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/pedidos/historial}" class="nav-link">Historial</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/productos}" class="nav-link">Productos</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/clientes}" class="nav-link">Clientes</a>
						</li>
					</ul>
					<ul class="ms-auto navbar-nav">
						<!-- ADMIN TAG NAME -->
						<li class="nav-item d-flex align-items-center">
							<span id="admin-tag">ADMINISTRADOR</span>
						</li>
						<!-- PROFILE -->
						<li class="nav-item">
							<a th:href="@{/admin/perfil}"><i id="btn-profile" class="bi bi-person-circle me-3 text-light"></i></a>
						</li>
						<!-- LOGOUT -->
						<li class="nav-item d-flex align-items-center">
							<form th:action="@{/logout}" method="post">
								<button th:id="btn-logout" type="submit" class="btn btn-outline-light text-light">Cerrar sesión</button>
							</form>
						</li>
					</ul>
				</div>
				<!-- COLLAPSE BUTTON -->
				<button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>

	<!-- FOOTER -->
	<footer th:fragment="footer" class="mt-auto bg-dark d-flex text-center">
		<div class="col-4 py-5 d-flex flex-column">
			<span>HORARIO</span>
			<span>L a V de 7:00h a 13:00h</span>
			<br />
			<span>Atención telefónica:</span>
			<span>De L a V de 7:00h a 16:00h</span>
		</div>
		<div class="col-4 py-5">
			<p>&copy; 2022 Coral</p>
		</div>
		<div class="col-4 py-5 d-flex flex-column">
			<div>
				<i class="bi bi-telephone-fill"></i><span class="ms-2">871257639</span><br />
			</div>
			<div>
				<i class="bi bi-whatsapp"></i><span class="ms-2">636192084</span><br />
			</div>
			<div>
				<i class="bi bi-envelope"></i><span class="ms-2">mercafrutas@gmail.com</span>
			</div>
			<br />
			<div class="d-flex justify-content-center">
				<i class="bi bi-geo-alt me-2 my-auto"></i>
				<div>
					<span>Carrer del Cardenal Rossell, 182</span><br />
					<span>07007 Coll d´en Rebassa, Palma</span>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>