/* COMMON */

* {
    color: rgb(71, 71, 71) !important;
}

/* LOGO */

#logo {
    width: 50px !important;
    height: 50px !important;
}

/* NAV BAR */

nav {
    background-color: rgba(243, 243, 243);
}

/* CONTENT */

.btn-new-order {
    font-size: 1.1em !important;
    background-color: lightcoral !important;
    color: white !important;
    border-radius: 10px !important;
}

.btn-new-order:hover {
    background-color: #e57171 !important;
}

table {
    margin-top: 40px;
    border: 1px solid #e7e7e7;
}

table th {
    background-color: rgba(248, 248, 249) !important;
}

table th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table tr:hover {
    background-color: rgba(255, 245, 233);
}

.btn-detail {
    border-radius: 10px !important;
    background-color: rgb(237, 237, 237) !important;
}

.btn-detail:hover {
    background-color: rgb(255, 219, 176) !important;
}

.pending-order {
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 1.1em;
}

#order-header {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#order-body {
    padding-top: 10px;
}

/* FOOTER */

footer {
    background-color: rgba(243, 243, 243);
}