/* COMMON */

* {
    color: rgb(71, 71, 71) !important;
}

/* LOGO */

#logo {
    width: 50px !important;
    height: 50px !important;
}

/* NAV BAR */

nav {
    background-color: rgba(243, 243, 243);
}

/* CONTENT */

.btn-new-order {
    font-size: 1.1em !important;
    background-color: lightcoral !important;
    color: white !important;
    border-radius: 10px !important;
}

.btn-new-order:hover {
    transform: scale(1.05);
    transition: .3s;
}

/* FOOTER */

footer {
    background-color: rgba(243, 243, 243);
}