/* COMMON */

* {
    color: rgb(71, 71, 71) !important;
}

/* LOGO */

#logo {
    width: 50px !important;
    height: 50px !important;
}

/* BODY */

body {
    background-color: rgb(240, 240, 240) !important;
}

/* CONTENT */

.custom-title {
    background-color: rgba(90, 90, 90);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-title h4, .custom-title span {
    color: rgb(243, 243, 243) !important;
}

.btn-new-order {
    font-size: 1.1em !important;
    padding: 5px 10px !important;
    background-color: lightcoral !important;
    color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-new-order span {
    color: white !important;
}

.btn-new-order:hover {
    background-color: #e57171 !important;
}

/* TABLE */

table {
    margin-top: 40px;
    border: 1px solid #e7e7e7;
    background-color: white !important;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table thead tr {
    border-bottom: 1px solid #818181 !important;
}

table thead {
    background-color: rgb(206, 206, 206) !important;
}

table th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table tr:last-of-type {
    border-bottom: hidden;
}

table tbody tr:hover {
    background-color: rgba(255, 245, 233);
}

.btn-detail {
    border-radius: 5px !important;
    background-color: rgb(237, 237, 237) !important;
}

.btn-detail:hover {
    background-color: rgb(255, 219, 176) !important;
}

.btn-remove {
    border-radius: 5px !important;
    background-color: rgb(237, 237, 237) !important;
}

.btn-remove:hover {
    background-color: rgb(255, 219, 176) !important;
}

.pending-order {
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1.1em;
}

@media screen and (max-width: 767px) {
    #profile-icon {
        margin: 10px 0px;
    }
    #btn-logout {
        margin: 15px 0px 25px 0px;
    }
}