/* COMMON */

* {
	color: rgb(71, 71, 71) !important;
}

/* LOGO */

#logo {
	width: 50px !important;
	height: 50px !important;
}

/* BODY */

body {
	background-color: rgb(240, 240, 240) !important;
}

/* PRODUCTS TABLE */

table {
	background-color: white !important;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table thead tr {
	border-bottom: 1px solid #818181 !important;
}

table thead {
	background-color: rgb(206, 206, 206) !important;
}

table th, td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

table tr:last-of-type {
	border-bottom: hidden;
}

table tbody tr:hover {
	background-color: rgba(255, 245, 233);
}

table input {
	width: 45px;
}

.btn-add {
	border-radius: 5px !important;
	background-color: rgb(237, 237, 237) !important;
}

.btn-add:hover {
	background-color: rgb(255, 219, 176) !important;
}

/* SHOPPING CART */

#shopping-cart {
	position: sticky;
	top: 30px;
	align-self: flex-start;
}

#items-counter {
	background-color: lightcoral;
}

#products-bag {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#products-bag li {
	border: none;
	border-bottom: 1px solid rgba(222, 222, 222);
}

#cart-header {
	background-color: rgb(206, 206, 206) !important;
	border-bottom: 2px solid rgb(71, 71, 71) !important;
}

#cart-body {
	max-height: 290px;
	overflow: scroll;
}

.btn-remove {
	border-radius: 5px !important;
	background-color: rgb(237, 237, 237) !important;
}

.btn-remove:hover {
	background-color: rgb(255, 219, 176) !important;
}

#cart-body li:hover {
	background-color: rgba(255, 245, 233);
}

#shipping-adress {
	border-radius: 5px;
}

#new-adress-field {
	margin-left: 7px !important;
}

input[type='radio']:checked {
	background: lightcoral;
	border: none;
}