* {
    color: rgb(71, 71, 71) !important;
}

body {
    background-color: rgb(240, 240, 240) !important;
}

/* BODY */

.custom-title {
    background-color: rgba(90, 90, 90);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-title h4 {
    color: rgb(243, 243, 243) !important;
}

/* USER DATA */

#user-data div {
    margin-bottom: 10px;
}

/* FORM */

#icon-check {
    position: absolute;
    margin-right: 10px;
    font-size: 1.4em;
    color: green !important;
}

#icon-alert {
    position: absolute;
    margin-right: 10px;
    font-size: 1.4em;
    color: #d50606 !important;
}

.field-error {
    font-style: italic;
    padding-top: 4px;
    padding-left: 2px;
}

.field-error small {
    color: #d50606 !important;
}