table {
    margin-top: 40px;
    background-color: white !important;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table thead tr {
    border-bottom: 1px solid #818181 !important;
}

table thead {
    background-color: rgb(206, 206, 206) !important;
}

table tbody td {
    padding: 12px 8px !important;
}

table th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table tr:last-of-type {
    border-bottom: hidden;
}

table tbody tr:hover {
    background-color: rgba(255, 245, 233);
}

.btn-custom {
    border-radius: 5px !important;
    background-color: rgb(237, 237, 237) !important;
}

.btn-custom:hover {
    background-color: rgb(255, 219, 176) !important;
}

#dropdown-status {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dropdown-status a {
    color: rgb(71, 71, 71) !important;
}

.pending-order {
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1.1em;
}