<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TOKEN POST REQUESTS -->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Nuevo pedido</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- JS -->
    <script th:src="@{/js/newOrder.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/neworder.css}" title="style" />
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- HEADER -->
    <header class="p-0 mb-3 border-bottom">
        <!-- NAV BAR -->
        <nav class="navbar navbar-expand-md navbar-light p-2 py-3">
            <div class="container-fluid">
                <img id="logo" th:src="@{/img/logo.png}">
                <button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapseMenu">
                    <ul class="navbar-nav mx-auto mb-2 mb-md-0 fs-5">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Perfil</a>
                        </li>
                    </ul>

                    <!-- USER NAME -->
                    <div>Bienvenida/o <span class="font-italic" th:text="${session.user.name}"></span></div>

                    <!-- LOGOUT -->
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-dark text-light">Cerrar sesión</button>
					</form>
                </div>
            </div>
        </nav>
    </header>

    <!-- CONTENT -->
    <section class="p-5 d-flex flex-wrap justify-content-around">
        <div class="col-6">
            <h4 class="mb-3">Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO (Kg)</th>
                        <th>CANTIDAD</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="product : ${products}">
                        <tr>
                            <td id="td-id" th:text="${product.id}"></td>
                            <td id="td-name" th:text="${product.name}"></td>
                            <td id="td-price" th:text="${product.price}"></td>
                            <td id="td-quantity"><input type="number" value="0" min="0" max="99"> Kg</td>
                            <td><button id="add" class="btn btn-sm btn-add"><i class="bi bi-basket3"></i></button></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div id="shopping-cart" class="col-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Tu cesta</span>
                <span id="items-counter" class="badge bg-success text-light rounded-pill">0</span>
            </h4>
            <ul id="products-bag" class="list-group mb-3">
                <!--
                PONER MENSAJE DE CESTA VACIA
                <li th:if=""></li>
                -->
                <li class="list-group-item d-flex justify-content-between">
                    <b class="col-4">PRODUCTO</b>
                    <b class="col-3 text-center">CANTIDAD</b>
                    <b class="col-3">PRECIO</b>
                    <b class="col-1">&nbsp;</b>
                </li>
                <div id="cart-body">
                    <!-- CART ITEMS -->
                </div>
                <div class="list-group-item d-flex justify-content-between">
                    <b class="col-4">TOTAL</b>
                    <span class="col-3"></span>
                    <b class="col-3"><span id="order-total">0</span> €</b>
                    <span class="col-1"></span>
                </div>
            </ul>

            <!--
            ***** CODIGO PROMOCION ?? *****
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </form>
            -->

            <div class="mt-2 float-end">
                <button id="confirm-order" class="me-3 btn btn-dark text-light">REALIZAR PEDIDO</button>
                <button id="empty-cart" class="btn btn-dark text-light">VACIAR CESTA</button>
            </div>
        </div>

        <!-- MODAL ORDER SUCCESS -->
        <div id="order-success" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Pedido realizado con éxito</h5>
                        <button type="button" class="btn btn-dark btn-sm text-light close" data-bs-dismiss="modal" aria-hidden="true">X</button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Gracias por tu compra!</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer class="mt-auto border-top">
        <div class="container">
            <footer class="p-2 my-3">
                <p class="text-center text-muted">© 2022 Coral</p>
            </footer>
        </div>
    </footer>

    <!-- BOOTSTRAP JS/POPPER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>