<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TOKEN POST REQUESTS -->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Nuevo pedido</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- JS -->
    <script th:src="@{/js/newOrder.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/newOrder.css}" title="style" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" title="style" />
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- HEADER -->
    <header th:replace="fragments/fragments :: header"></header>

    <!-- CONTENT -->
    <section class="mt-3 p-5 d-flex flex-wrap justify-content-around">
        <div class="col-6">
            <h4 class="mb-3">Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO (Kg)</th>
                        <th>CANTIDAD</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="product : ${products}">
                        <tr>
                            <td id="td-id" th:text="${product.id}"></td>
                            <td id="td-name" th:text="${product.name}"></td>
                            <td id="td-price" th:text="${product.price}"></td>
                            <td id="td-quantity"><input type="number" value="0" min="0" max="99"> Kg</td>
                            <td><button id="add" class="btn btn-sm btn-add"><i class="bi bi-basket3"></i></button></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div id="shopping-cart" class="col-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Tu cesta</span>
                <span id="items-counter" class="badge text-light rounded-pill">0</span>
            </h4>
            <ul id="products-bag" class="list-group list-group-flush mb-5">
                <li id="cart-header" class="list-group-item d-flex justify-content-between">
                    <b class="col-4">PRODUCTO</b>
                    <b class="col-3 text-center">CANTIDAD</b>
                    <b class="col-3">PRECIO</b>
                    <b class="col-1">&nbsp;</b>
                </li>
                <div id="cart-body">
                    <!-- CART ITEMS -->
                </div>
                <div class="list-group-item py-3 d-flex justify-content-between">
                    <b class="col-4">TOTAL</b>
                    <span class="col-3"></span>
                    <b class="col-3"><span id="order-total">0</span> €</b>
                    <span class="col-1"></span>
                </div>
            </ul>

            <div id="shipping-address" class="col-12 d-flex">
                <div class="col-7">
                    <h4 class="col-12 m-0">Envío</h4>
                    <div class="p-3">
                        <div class="form-check">
                            <input id="default-address" name="shipping-address" type="radio" class="form-check-input" checked="" required="">
                            <label class="form-check-label" for="default-address" th:text="${session.user.getAddress}"></label>
                        </div>
                        <div class="form-check d-flex align-items-center p-0 m-0 mt-1">
                            <input id="new-address" name="shipping-address" type="radio" class="form-check-input m-0" required="">
                            <label id="new-address-field" class="form-check-label" for="new-address">
                                <input class="form-control" type="text" name="new-address" placeholder="Otra dirección" maxlength="45">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-5 d-flex flex-wrap">
                    <div class="col-12 text-end">
                        <button id="confirm-order" class="btn btn-dark text-light">REALIZAR PEDIDO</button>
                    </div>
                    <div class="col-12 text-end">
                        <button id="empty-cart" class="btn btn-dark text-light">VACIAR CESTA</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL ORDER SUCCESS -->
        <div id="order-success" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Pedido realizado con éxito</h5>
                        <button type="button" class="btn btn-dark btn-sm text-light close" data-bs-dismiss="modal" aria-hidden="true">X</button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Gracias por tu compra!</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer th:replace="fragments/fragments :: footer"></footer>

    <!-- BOOTSTRAP JS/POPPER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>