<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="/css/signin.css" title="style" />
</head>
<body>

    <!-- PENDIENTE: -->
    <!-- MODIFICAR ACTION HACIA CONTROLADOR -->
    <!-- AÑADIR LINK HACIA PAGINA REGISTRO -->

    <form action="#" method="post">
        <div id="form-header">
            <img src="../img/logo.png"><br/>
            <p id="title">Coral</p>
            <p>No tienes cuenta? <a href="registro">Regístrate</a></p>
        </div>
        <div>
            <label for="email">EMAIL</label>
            <input id="email" type="email" name="email" placeholder="Escribe tu email aquí">
        </div>
        <div>
            <label for="password">CONTRASEÑA</label>
            <input id="password" type="password" name="password" placeholder="Escribe tu contraseña aquí">
        </div>
        <button id="submit" type="submit">INICIAR SESIÓN</button>
    </form>

</body>
</html>